* {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 320;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 125%;
}

/* the page container is body*/
body {
    max-width: 70vw;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 8px;
    position: relative;
    top: 15px;
}

.main-logo {
    width: 82px;
}

nav {
    height: 70px;
    background: linear-gradient(0, #306DA3ff, #306da3ad, #306DA3ff);
}

h1 {
    font-size: 36px;
    color: #504b4b;
    font-weight: 500;
}

nav>h1 {
    color: #ffffff;
    font-size: 36px;
    padding: 15px 25px;
}

.color-blue {
    color: #306DA3ff;
    font-weight: 600;
}

.light-blue {
    color: #04aeda;
    font-weight: 390;
}

.p-bold {
    font-weight: 600;
}

.color-red {
    color: red;
    font-weight: 600;
}

main {
    display: flex;
    align-items: start;
    gap: 5%;
    background: linear-gradient(0deg, #ffffff00, 60%, #ffffff91, 70%, #858f8e1a);
}

.on-top {
    margin: 25px 5px;
}

.on-top p:first-child {
    font-weight: 700;
    margin-bottom: 12px;
}

.on-top p:nth-last-of-type(1) {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 15px;
}

.button {
    display: block;
    color: #ffffff;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #725d5d8f;
    margin-bottom: 5px;
    width: 100%;
    font-size: larger;
    text-transform: uppercase;
    cursor: pointer;
}

.first {
    background-color: #306DA3;
}

.second {
    background-color: #e6750c;
}

.on-top button:nth-last-of-type(1) {
    margin-bottom: 10px
}

hr {
    border-style: inset;
    border-width: 1px;
}

aside {
    flex: 1;
}

section {
    flex: 3;
    margin-right: 20px;
}

.home-icon {
    width: 20px;
    height: 20px;
}

.phone-icon {
    width: 50px;
    height: 50px;
}

.header-main-section,
.home-dns,
.reach-us-area,
.html-css-js {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header-main-section {
    margin-bottom: 5px;
}

.home-dns {
    margin-top: 8px;
}

.reach-us-area {
    align-items: center;
}

small {
    color: #504b4b;
}

.contact-info small:nth-last-of-type(1) {
    position: relative;
    bottom: 6px;
}

.phone-number {
    font-size: 28px;
    font-weight: 600;
    color: #04aeda;
    margin: 0;
    line-height: normal;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #306DA3;
    margin: 10px 0;
}

ul,
ol {
    margin-left: 40px;
}

.client-server {
    width: 50%;
    display: block;
    margin: 14px auto;
}

.htmlcssjs-img {
    width: 20%;
    margin: 10px;
}

.html-css-js {
    margin-top: 25px;
    padding: 5px;
    border: 5px solid #04aeda;
    box-shadow: 2px 3px 4px #504b4b;
}

/* the aside card */
.aside-card {
    margin: 30px 0;
    background: url("images/ad_background.png");
    padding: 35px 5px;
    border-radius: 2px;
    box-shadow: 2px 3px 4px #504b4b;
}

.ad-background {
    max-width: 210px;
}

.card-title {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin: 0px 2px;
    text-align: center;
}

.card-image {
    width: 35%;
    display: block;
    margin: 14px auto;
}

.card-button {
    background-color: #04aeda;
    text-transform: none;
    width: 85%;
    margin: 0 auto;
    padding: 6px;
}

.icon-next {
    width: 10px;
    margin: -4px;
}

.next-icons-container {
    display: inline-block;
    position: relative;
    bottom: 4px;
}